
venv/
.env
*.pyc
__pycache__/


db.sqlite3
*.sqlite3


.env
config/settings_local.py


*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.swn
*.DS_Store


*.bak
*.tmp
*.cache
*.pytest_cache/
*.mypy_cache/


.idea/
.vscode/
*.sublime-project
*.sublime-workspace


**/migrations/*.py
!**/migrations/__init__.py

